*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif !important;
  height: 5000px;
}

/* Navbar */
nav.navbar {
  background-color: #E6E6E6 !important;
}

.navbar-collapse {
  flex-grow: 0;
}

@media (max-width: 991px) {
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: column-reverse;
  }
}

nav a {
  /* color: #5f6579 !important; */
  color: #070707 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

nav a:hover {
  color: #000 !important;
}

a.navbar-brand {
  color: #0d6efd !important;
  font-weight: 500 !important;
  font-size: 20px !important;
}

.nav-link {
  padding: 16px !important;
}

/* Form & Offer */
.form-and-offer {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Form */
.form-container,
.offer-container {
  width: 50%;
  overflow: hidden;
}

.form-container {
  padding: 16px;
  background-color: #20364b;
  border-radius: 16px;
  position: relative;
}

.form-container h2 {
  text-align: center;
  color: #fdc220;
}
.form-container h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 22px;
}

input,
textarea {
  font-size: 18px !important;
}

.btn_loader {
  cursor: not-allowed !important;
  background-color: #5f6579 !important;
}

.success-overlay {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: #fff;
  transition: 0.4s;
  position: absolute;
  background-color: #0d6efd;
  z-index: 9999999;
  left: 0;
  top: 0;
}

/* Offer */
.offer-container {
  background-color: #fdc220;
  border-radius: 16px;
  border: 1px solid #20364b;
  padding: 16px;
}

.offer-container h2 {
  color: #20364b;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 32px;
}

/* Counter */

/* .countr_box {
  
} */

.h1 {
  font-size: 66px;
  font-weight: 700;
  color: #3c4043;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.unit span {
  display: block;
}

.unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  transition: 0.3s;
  backdrop-filter: blur(5px);
  color: #000;
  overflow: hidden;
  /* padding: 15px 15px 10px; */
  background-color: #f8f9fa;
  position: relative;
}

.unit span:first-child {
  font-size: 35px;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
  color: #212529;
}

.unit span:last-child {
  font-size: 13px;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  bottom: 8px;
}

@media (max-width: 575.98px) {
  .unit {
    width: 70px;
    height: 70px;
  }

  .unit span:last-child {
    bottom: 2px;
  }
  .price {
    font-size: 16px !important;
  }
}

@media (max-width: 991px) {
  .form-and-offer {
    flex-direction: column;
    gap: 32px;
  }

  .form-container,
  .offer-container {
    width: 100%;
  }

  .offer-container {
    order: 1 !important;
  }
}

.product-in-offer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-in-offer img {
  width: 100%;
}

.product-in-offer p {
  font-size: 20px;
  font-weight: 500;
}

.product-in-offer span {
  text-decoration: line-through;
  color: #7e859bb7;
}

p.tail {
  text-align: center;
  margin: 0;
  margin-top: 16px;
}

/* payment method */
.payment-method {
  /* margin-bottom: 32px; */
  margin-top: 40px;
}

.payment-method h2 {
  font-size: 40px;
  font-weight: 800;
  color: #fdc220;
  text-align: end;
  margin-bottom: 16px;
  padding: 16px;
  padding-right: 32px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  z-index: 999;
}

.payment-method h2::before {
  content: "";
  position: absolute;
  width: 200px;
  background-color: #292929;
  height: 19px;
  left: 11px;
  bottom: 13px;
  z-index: -1;
}

.payment-method img {
  width: 100%;
  /* height: 70px; */
}

@media (max-width: 575.98px) {
  .payment-method h2 {
    font-size: 32px;
    text-align: center;
    padding-right: 12px;
    margin-right: auto;
  }

  .payment-method h2::before {
    width: 164px;
  }
}


/* Section a */
section.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.a div{
  width: 50%;
}

section.a img{
  width: 100%;

}

.text-a {
  padding: 16px;
}

.text-a p{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 22px;
}

section.a p:nth-child(2){
  font-weight: 800;
}

.text-a p:nth-child(2){
  color: #fdc220;
}

@media (max-width: 991.98px) {

  section.a {
    flex-direction: column;
  }

  section.a div{
    width: 100%;
  }

  section.a p{
    text-align: center;
    font-size: 28px;
  }

  section.a div:nth-child(1) {
    order: 1;
  }
}

/* Section b */
section.b {
  padding: 16px;
  background-color: #E6E6E6;
}

section.b  p{
  font-size: 32px;
  font-weight: 500;
}

section.b p:nth-child(2){
  font-size: 32px;
  font-weight: 800;
  color: #fdc220;
}

section.b div div {
  text-align: center;
  margin-top: 32px;
}

section.b a{
  font-size: 30px;
  font-weight: 500;
  background-color: #fdc220;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 32px;
  display: inline-block;
  margin-bottom: 16px;
}

section.b a:hover{
  background-color: #ffbb00;
}

@media (max-width: 991.98px) {
  section.b{
    text-align: center;
  }

  section.b p{
    font-size: 28px;
  }
}



/* Section c */
section.c {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.c div {
  width: 50%;
}

section.c p {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 16px;
}

section.c p:nth-child(2) {
  font-weight: 800;
  color: #fdc220;
}

section.c img {
  width: 100%;
}

@media (max-width: 991.98px) {
  section.c {
    flex-direction: column;
    text-align: center;
    
  }

  section.c div {
    width: 100%;
    margin-top: 16px;
  }

  section.c div:nth-child(1) {
    order: 1;
  }

  section.c p {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
  }
}


/* Section d */
section.d {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 0 !important;
}

section.d div {
  width: 50%;
}

section.d div:nth-child(2) {
  padding: 16px;
}

section.d img {
  width: 100%;
}

section.d p {
  font-size: 32px;
  font-weight: 500;
}

section.d p:nth-child(2) {
  color: #fdc220;
  font-weight: 800;
}

@media (max-width: 991.98px) {

  section.d {
    flex-direction: column;
    text-align: center;
  }

  section.d div {
    width: 100%;
  }

  section.d p {
    font-size: 28px;
    font-weight: 400;
  }
}

/* Section e */
section.e {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.e div:nth-child(1) {
  width: 80%;
}
section.e div:nth-child(2) {
  width: 20%;
}

section.e img {
  width: 100%;
}

section.e p {
  font-size: 24px;
  font-weight: 500;
}

section.e p:nth-child(5) {
  color: red;
}

section.e a{
  font-size: 30px;
  font-weight: 600;
  background-color: #fdc220;
  color: #fff;
  text-decoration: none;
  padding: 8px 35px;
  border-radius: 32px;
  display: inline-block;
  margin-bottom: 16px;
}

section.e a:hover{
  background-color: #ffbb00;
}

section.e span:nth-child(1) {
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
}

section.e span:nth-child(2) {
  background-color: #fdc220;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 16px;
}




















/* Footer */
footer p {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #e6e6e6;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 575.98px) {
  footer p {
    font-size: 14px;
  }
}